$blackish: #272727;
$darkish: #525252;
$greyish: #919091;
$whiteish: #F1F1F1;

$greenish: #3AB865;
$dGreenish: #266A3E;
$yellowish: #F4E138;
$syellish: rgba(244, 225, 56, 0.25);
$redish: #FF0049;
$dRedish: #990033;
$blueish: #386A8E;
$lBlueish: #98ACBB;
$pinkish: #FF3ED8;
$purpleish: #A30083;

$lineOne: 1px solid $blackish;
$lineTwo: 2px solid $blackish;


*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: $redish;
    Overflow-x: hidden; //horizontal
}


body {
    margin: 0;
    background-color: $whiteish;

}

.section {

    &__one {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 74vh 16vh 80vh 50vh;
        min-height: 100vh;
        grid-template-areas:
            "."
            "window"
            "."
            "paper"
            "tools";
        position: relative;
        margin: 0 6vw;
    }

    &__two {
        display: grid;
        grid-template-columns: 6.5vw 87vw 6.5vw;
        grid-template-rows: 20vh 78vh 20vh 78vh 20vh 70vh 30vh;
        grid-template-areas:
            ". . ."
            ". sales__one . "
            ". . ."
            ". sales__two . "
            ". . ."
            ". monitor ."
            ". . .";
        margin: 0;
        background-color: $yellowish;
        border: $lineTwo;
        box-shadow: 0 -4px 0px 0px rgba(0, 0, 0, 0.2);
        position: relative;
    }
}



.window {
    grid-area: window;
}



.tools {
    grid-area: tools;
}

.metalside {
    background-color: $redish;
    border: $lineTwo;
    position: fixed;
    margin: 0;


    &__top {
        border-top: transparent;
        width: calc(100vw + 4px);
        height: 10px;
        z-index: 100;
        margin-left: -2px;
    }

    &__top--shadow {
        border-top: transparent;
        width: 100vw;
        height: 10px;
        box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
        z-index: 98;
        margin-left: -2px;
    }

    &__left,
    &__right {
        width: 10px;
        height: 101vh;
        z-index: 99;
        border-top: transparent;
    }

    &__left {
        border-left: transparent;
    }

    &__right {
        border-right: transparent;
        right: 0px;
    }

    &__left--shadow,
    &__right--shadow {
        width: 10px;
        height: 101vh;
        z-index: 0;
        border-top: transparent;
    }

    &__left--shadow {
        border-left: transparent;
        box-shadow: 5px 15px 0px 0px rgba(0, 0, 0, 0.2);
        z-index: 98;
    }

    &__right--shadow {
        border-right: transparent;
        box-shadow: -5px 15px 0px 0px rgba(0, 0, 0, 0.2);
        right: 0px;
        z-index: 98;
    }

}

/* Background Lines */

.backLine {
    position: absolute;
    border-radius: 1px;
    width: 2px;
    box-shadow: 2px 0 0 0 $blackish;
    z-index: 0;

    &__one {
        height: 20px;
        top: 4vh;
        left: 10vw;
    }

    &__two {
        height: 20px;
        top: 8.5vh;
        right: 30vw;
    }

    &__three {
        height: 34px;
        bottom: 1vh;
        right: 14vw;
    }

    &__four {
        height: 40px;
        bottom: 14.5vh;
        left: 30vw;
    }
}

/* Navigation */

nav * {
    z-index: 98;
}

.stick {
    border: $lineTwo;
    background-color: $yellowish;
    position: fixed;
    box-shadow: -3px 3px 0px 0px rgba(0, 0, 0, 0.2);

    &__square {
        width: 100px;
        height: 22px;
        left: 0;
        bottom: 34px;
        transform: rotate(1deg);
    }

    &__round {
        border-radius: 25px;
        right: 3px;
        width: 160px;
        height: 12px;
        bottom: 42px;
        transform: rotate(-4deg);
    }
}

.stick__line {
    background-color: $blackish;
    position: fixed;
    height: 1px;

    &__one {
        width: 10px;
        bottom: 41px;
        left: 8px;
        transform: rotate(1deg);
    }

    &__two {
        width: 10px;
        bottom: 46px;
        right: 86px;
        transform: rotate(-3deg);
    }

    &__three {
        width: 10px;
        bottom: 55px;
        right: 10px;
        transform: rotate(-4deg);
    }
}

.logo__sign {
    border: $lineTwo;
    background-color: white;
    padding: 4px 12px 4px 12px;
    position: fixed;
    left: 22px;
    width: 130px;
    height: 58px;
    bottom: 20px;
    transform: rotate(-1.5deg);

    &--shadow {
        box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.2);
    }
}

#frank__leeroy {
    transform: rotate(-1.5deg);
}

#frank__leeroy,
#burger__menu,
#facebook,
#instagram {
    fill: $redish;
}

#facebook,
#instagram {
    margin-top: -4px;
    fill: $redish;
}

#basket {
    fill: $dRedish;
}

.basket--font {
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 51%;
    bottom: 0;
    right: 0;
    left: 0;
}

.button {
    position: fixed;
    bottom: 18px;
    border: $lineTwo;

    &__right--shadow,
    &__left--shadow,
    &__outer {
        background-color: $greyish;
        border-radius: 14px;
        width: 62px;
        height: 62px;
        padding: 3px;
    }

    &__inner {
        background-color: white;
        border-radius: 10px;
        border: $lineTwo;
        width: 100%;
        height: 100%;
        padding: 6px 2px 2px 2px;
    }

    &__right--shadow,
    &__left--shadow {
        box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.2);
    }

    &__right,
    &__right--shadow {
        right: 22px;
        transform: rotate(-1deg);
    }

    &__left,
    &__left--shadow {
        right: 94px;
        transform: rotate(1deg);
    }

    &--social {
        position: absolute;
        border: $lineTwo;
        box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.2);

        &--left {
            left: 20%;
            bottom: -90px;
        }

        &--right {
            right: 20%;
            bottom: -90px;
        }

        &--menu--top {
            right: calc(-60px - 4vw);
            top: -2px;
        }

        &--menu--bottom {
            right: calc(-60px - 4vw);
            bottom: -2px;
        }
    }
}

.button__tube {
    background-color: $greyish;
    border: $lineTwo;
    border-radius: 10px;
    position: absolute;
    width: 10px;
    height: 40px;


    &--left {
        left: calc(20% + 26px);

        &--top {
            bottom: -12px;
        }

        &--bottom {
            bottom: -32px;
            box-shadow: -4px -2px 0px 0px rgba(0, 0, 0, 0.2);
        }
    }

    &--right {
        right: calc(20% + 26px);

        &--top {
            bottom: -12px;
        }

        &--bottom {
            bottom: -32px;
            box-shadow: -4px -2px 0px 0px rgba(0, 0, 0, 0.2);
        }
    }

    &--top {
        transform: rotate(90deg);
        top: 19px;
        right: -12px;
        height: 20px;
        z-index: 90;
        }

    &--bottom {
        transform: rotate(90deg);
        bottom: 19px;
        right: -12px;
        height: 20px;
        z-index: 90;
    }

}


.wire {
    position: fixed;
    width: 40px;
    stroke: $blackish;
    stroke-width: 1px;
    filter: drop-shadow(-2px 2px 0px rgba(0, 0, 0, 0.2));


    &__one,
    &__two {
        fill: $pinkish;
        bottom: 60px;
    }

    &__one {
        right: 8px;
    }

    &__two {
        right: 58px;
    }

    &__three {
        fill: $redish;
        right: 0;
        bottom: 30px;
    }

    &__four {
        position: absolute;
        fill: $pinkish;
        left: 33%;
        bottom: calc(15% + 4px);
        transform: rotate(70deg);
    }

    &__five {
        position: absolute;
        fill: $pinkish;
        right: 33%;
        bottom: calc(15.2% + 4px);
        transform: rotate(120deg);
    }
}

.wire__straight {
    position: absolute;
    left: calc(50% - 3px);
    bottom: calc(3.5% + 4px);
    background-color: $pinkish;
    width: 6px;
    height: 10%;
    border: $lineOne;
    border-radius: 10px;
    box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.2);

    &--left {
        right: 60%;
        left: 40%;
        bottom: calc(12.3% + 4px);
        transform: rotate(-50deg);
    }

    &--right {
        left: 60%;
        right: 40%;
        bottom: calc(12.3% + 4px);
        transform: rotate(40deg);
    }
}

.wire__hole {
    position: absolute;
    left: calc(50% - 6px);
    bottom: calc(3% + 4px);
    background-color: $darkish;
    width: 12px;
    height: 12px;
    border: $lineOne;
    border-radius: 100%;
}

/* Window */

.window {
    background-color: $yellowish;
    border: $lineTwo;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
    padding: 10px;
    box-shadow: -5px 5px 0px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.glass {
    background-color: $lBlueish;
    border: $lineTwo;
    /*opacity:0.3;*/
    width: 100%;
    height: 100%;
}

.lineSkew {
    border: $lineOne;
    border-radius: 34%;
    width: 1px;
    opacity: 0.3;
    transform: skew(-30deg);
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    position: absolute;

    &__one {
        height: 20px;
        top: 12px;
        left: 80%;
        right: 20%;
    }

    &__two {
        height: 24px;
        top: 12px;
        left: calc(80% + 2px);
        right: 20%;
    }

    &__three {
        height: 40px;
        left: 30%;
        bottom: 12px;
    }

    &__four {
        height: 42px;
        left: calc(30% - 3px);
        bottom: 12px;
    }
}


/* Electric Panel */

.panel {
    border: $lineTwo;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    z-index: 2;

    &__back {
        background-color: $greyish;
        width: 282px;
        height: 14px;
        margin: 0 auto 0 auto;
    }

    &__front {
        background-color: $darkish;
        width: 100px;
        height: 20px;
        margin: -6px auto 0 auto;
        padding-top: 6px;
    }
}

.front__line {
    border: $lineTwo;
    height: 100%;
    width: 2px;
    position: absolute;
    margin-top: -6px;

    &--left {
        right: 84%;
        left: calc(51% - 0px);
    }

    &--middle {
        right: 76%;
        left: calc(51% + 7px);
    }

    &--right {
        right: 69%;
        left: calc(51% + 14px);
    }
}


.panel__dot {
    border: $lineTwo;
    border-radius: 100%;
    display: inline-block;
    width: 2px;
    margin: 3px;
    position: absolute;

    &--right {
        right: 0px;
    }
}


.light {
    border: $lineTwo;
    position: absolute;
    box-shadow: -3px 3px 0px 0px rgba(0, 0, 0, 0.2);
    width: 14px;
    height: 18px;
    border-radius: 6px;

    &--blue {
        background-color: $blueish;
        left: 36%;
        right: 64%;
    }

    &--red {
        animation: blinker 2s infinite;
        background-color: $redish;
        left: 42%;
        right: 58%;
        margin-top: 3px;
    }

    &--darkred {
        background-color: $dRedish;
        left: 42%;
        right: 58%;
        margin-top: 3px;
    }
}

@keyframes blinker {
    1% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.bulb {
    border: 2px solid $yellowish;
    background-color: $syellish;
    position: absolute;
    box-shadow: -3px 3px 0px 0px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    width: 18px;
    height: 24px;
    left: calc(51% - 2px);
    right: 49%;
    margin-top: 7px;
}

.bulb__socket {
    border: $lineTwo;
    position: absolute;
    box-shadow: -3px 2px 0px 0px rgba(0, 0, 0, 0.2);
    width: 22px;
    left: calc(51% - 4px);
    right: 49%;
    margin-top: 10px;
    z-index: 3;
}


.bulb__line {
    position: absolute;
    box-shadow: -1px 1px 0px 0px rgba(0, 0, 0, 0.2);
    right: 50%;

    &--middle {
        border: 1px solid $whiteish;
        width: 8px;
        top: 22px;
        left: calc(50% + 6px);
    }

    &--left,
    &--right {
        border: $lineOne;
        height: 10px;
        top: 13px;
    }

    &--left {
        left: calc(50% + 4px);
        transform: skew(20deg);
    }

    &--right {
        left: calc(50% + 14px);
        transform: skew(-20deg);
    }
}



.neon {
    text-align: center;
    position: absolute;
    right: 0;
    margin: auto;

    &__arrow--blur,
    &__arrow--light,
    &__arrow--dark {
        font-size: 24px;
        top: 2px;
        left: 68px;
    }

    &__story--blur,
    &__story--light,
    &__story--dark {
        top: -34px;
        left: 0;
    }

    &__arrow--blur {
        color: transparent;
        text-shadow: 0px 0px 5px $pinkish,
            0px 0px 10px $pinkish,
            0px 0px 15px $pinkish,
            0px 0px 20px $pinkish,
            0px 0px 25px $pinkish;
    }

    &__story--blur {
        color: transparent;

        &--pinkish {
            text-shadow: 0px 0px 5px $pinkish,
                0px 0px 15px $pinkish,
                0px 0px 25px $pinkish;
        }

        &--redish {
            text-shadow: 0px 0px 5px $redish,
                0px 0px 15px $redish,
                0px 0px 25px $redish;
        }
    }

    &__story--dark,
    &__arrow--dark {
        text-shadow: -3px 3px rgba(0, 0, 0, 0.1);

        &--pinkish {
            color: $pinkish;
            -webkit-text-stroke: 1px $purpleish;
        }

        &--redish {
            color: $redish;
            -webkit-text-stroke: 1px $dRedish;
        }
    }

    &__story--light,
    &__arrow--light {
        text-shadow: -3px 3px rgba(0, 0, 0, 0.1);

        &--pinkish {
            color: $whiteish;
            -webkit-text-stroke: 1px $pinkish;
        }

        &--redish {
            color: $whiteish;
            -webkit-text-stroke: 1px $redish;
        }
    }

    &__rotate {
        transform: rotate(42.5deg);
        z-index: 3;
        margin: -13px auto auto 20px;
    }
}


.flicker {
    animation: flicker 20s infinite;
}

@keyframes flicker {
    10% {
        opacity: 1;
    }

    10.3% {
        opacity: 0;
    }

    10.4% {
        opacity: 0.5;
    }

    10.5% {
        opacity: 0;
    }

    10.6% {
        opacity: 1;
    }

    32.1% {
        opacity: 1;
    }

    32.2% {
        opacity: 0;
    }

    32.3% {
        opacity: 1;
    }

    32.4% {
        opacity: 1;
    }

    32.5% {
        opacity: 0;
    }

    32.6% {
        opacity: 1;
    }

    72% {
        opacity: 1;
    }

    72.2% {
        opacity: 0;
    }

    72.3% {
        opacity: 1;
    }

    72.4% {
        opacity: 0;
    }

    72.5% {
        opacity: 1;
    }

    72.6% {
        opacity: 0;
    }

    82.5% {
        opacity: 0;
    }

    82.6% {
        opacity: 1;
    }

    82.7% {
        opacity: 0;
    }

    82.8% {
        opacity: 1;
    }
}

/* Paper */

.paper {
    grid-area: paper;
    grid-row: 4 / 5;
    grid-column: 1 / 2;

    &__white {
        background-color: white;
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        position: absolute;
        left: 2px;
        top: 2px;
        clip-path: polygon(100% 0, 100% 100%, 26% 100%, 25% 95%, 24% 100%, 0 100%, 0 3%);
    }

    &__black {
        background-color: $blackish;
        height: 100%;
        position: relative;
        clip-path: polygon(100% 0, 100% 100%, 25.9% 100%, 25.2% 96.4%, 24.6% 100%, 0 100%, 0 3%);
    }

    &__text {
        position: absolute;
        top: 0;
        padding: 5%;
        width: 100%;
    }
}

.insertmoney {
    margin-top: -10px;
    fill: $redish;
    transform: rotate(2deg);
    margin: auto 3vw;
}

.paper__tape {
    border: $lineOne;
    background-color: $syellish;
    position: absolute;
    height: 9px;
    grid-row: 4 / 5;
    grid-column: 1 / 2;

    &--one {
        width: 34px;
        top: 3%;
        left: -10px;
        transform: rotate(-30deg);
    }

    &--two {
        width: 30px;
        top: 0;
        right: -10px;
        transform: rotate(20deg);
    }

    &--three {
        width: 24px;
        bottom: 0;
        left: -6px;
        transform: rotate(17deg);
    }

    &--four {
        width: 38px;
        bottom: 0;
        right: -10px;
        transform: rotate(-20deg);
    }

    &--five {
        width: 22%;
        height: 15%;
        top: 5px;
        right: -12px;
        transform: rotate(30deg);
    }

    &--six {
        width: 22%;
        height: 15%;
        bottom: -4px;
        left: -10px;
        transform: rotate(30deg);
    }
}

/* Tools */

.tools {
    position: relative;
}

.magnet {
    position: absolute;
    background-color: $greyish;
    border: $lineTwo;
    border-radius: 3px;
    width: 100%;
    height: 14px;
    margin-top: 3em;
    box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.2);
}


.knife {
    position: absolute;
    transform: rotate(55deg);
    margin-top: 3em;
    right: -10px;


    &__handle {
        background-color: $blueish;
        border: $lineOne;
        border-radius: 2px;
        width: 42px;
        height: 9px;
        margin-top: 0;
    }

    &__blade {
        background-color: $greyish;
        border: $lineOne;
        border-radius: 1px 1px 20px 1px;
        width: 34px;
        height: 7px;
        margin-top: -8px;
        margin-left: 40px;
    }

    &--shadow {
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes drop {
    0% {
        bottom: 0px;
        opacity: 1;
    }

    15% {
        opacity: 1;
    }

    20% {
        opacity: 1;
        bottom: -300px;
    }

    20.1% {
        opacity: 0;
        bottom: 0;
    }
}

@keyframes wave {
    0% {
        background-position: 0 160px;
        background-size: 170px 300px;
    }

    100% {
        background-position: 500px -18px;
        background-size: 250px 150px;
    }
}


.poisen {
    position: absolute;
    z-index: 0;
}

.drops {
    -webkit-filter: url('#liquid') drop-shadow(-4px 4px 0px rgba(0, 0, 0, 0.2));
    filter: url('#liquid') drop-shadow(-4px 4px 0px rgba(0, 0, 0, 0.2));
    position: absolute;
    margin-top: 60px;
    margin-left: 46vw;
    margin-right: 54vw;
    z-index: 1;
    opacity: 0;
    animation: fade-in 1.1s linear .4s forwards;
}

.drop1,
.drop2 {
    width: 20px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    &--green {
        background-color: $greenish;
    }
}

.drop1 {
    width: 12px;
    height: 16px;
}

.drop2 {
    animation: drop 10.3s cubic-bezier(.95, .05, .8, .04) 1.5s infinite;
}

.spray {
    position: absolute;
    transform: rotate(-2deg);
    top: 6%;
    left: 55%;
    right: 45%;

    &__can {
        background-color: $blackish;
        border: $lineTwo;
        border-radius: 1px;
        width: 40px;
        height: 70px;
    }

    &__lid {
        background-color: $greenish;
        border: $lineOne;
        border-radius: 40% 40% 2px 2px;
        width: 42px;
        height: 30px;
        margin-bottom: -1px;
        margin-left: -1px;
    }

    &--shadow {
        box-shadow: -6px 6px 0px 0px rgba(0, 0, 0, 0.2);
    }
}



.skull {
    position: absolute;
    margin: 5px 7px 0 7px;


    &__head {
        position: relative;
        width: 22px;
        height: 19px;
        border-radius: 9px 9px 5px 5px;
        background: white;
        z-index: 4;
    }

    &__teeth {
        position: absolute;
        bottom: -9px;
        left: 0;
        right: 0;
        z-index: 7;
        text-align: center;
        margin-left: -1px;
    }

    &__tooth {
        display: inline-block;
        margin-right: -1px;
        width: 4px;
        height: 7px;
        background: white;
        border-radius: 0 0 1px 1px;
    }

    &__eye {
        position: absolute;
        top: 4px;
        left: 1px;
        width: 9px;
        height: 6px;
        background: $blackish;
        border-radius: 10px 10px 5px 5px;
    }

    &__eye+&__eye {
        left: auto;
        right: 1px;
    }

    &__nose {
        position: absolute;
        bottom: 1px;
        left: 50%;
        margin-left: -3px;
        width: 5px;
        height: 5px;
        border-top: solid 2px $blackish;
        border-left: solid 2px $blackish;
        border-right: solid 2px transparent;
        border-bottom: solid 2px transparent;
        border-radius: 1px;
        transform: rotate(45deg);
    }

    &__text {
        font-size: 9px;
        color: white;
        margin-top: 33px;
        font-weight: 400;
    }
}


.pizzacutter {
    position: absolute;
    transform: rotate(92deg);
    margin-top: 3.5em;
    left: 20%;


    &__handle {
        background-color: $redish;
        border: $lineOne;
        border-radius: 10px 2px 2px 10px;
        width: 36px;
        height: 9px;
        margin-top: 0;
    }

    &__blade {
        background-color: $greyish;
        border: $lineOne;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        margin-top: -24px;
        margin-left: 38px;
    }

    &__shine {
        border-top: solid 2px white;
        border-radius: 6px 6px 0 0;
        width: 12px;
        height: 12px;
        margin-top: -30px;
        margin-left: 54px;
        transform: rotate(30deg);
    }

    &__hold {
        background-color: $greyish;
        border: $lineOne;
        border-radius: 1px 100% 100% 1px;
        width: 28px;
        height: 7px;
        margin-top: -6px;
        margin-left: 34px;
    }

    &--shadow {
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
    }
}


.spatula {
    position: absolute;
    transform: rotate(95deg);
    margin-top: 5em;
    left: -10%;


    &__handle {
        background-color: $pinkish;
        border: $lineOne;
        border-radius: 3px;
        width: 48px;
        height: 12px;
        margin-top: -10px;

    }

    &__hold {
        background-color: $greyish;
        border: $lineOne;
        border-radius: 1;
        width: 56px;
        height: 8px;
        margin-top: 6px;
        margin-left: 46px;
    }

    &__hold--noborder {
        background-color: $greyish;
        border-radius: 1;
        width: 56px;
        height: 6px;
        margin-top: -24px;
        margin-left: 50px;
    }

    &__plate {
        background-color: $greyish;
        border: $lineOne;
        border-radius: 10px;
        width: 54px;
        height: 40px;
        margin-top: -25px;
        margin-left: 100px;

        &--hole {
            background-color: #C1C1C1;
            border: $lineOne;
            border-radius: 20px;
            width: 40px;
            height: 8px;
            margin-top: 3px;
            margin-bottom: 4px;
            margin-left: 7px;
        }
    }

    &--shadow {
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
    }

    &--shadowhold {
        box-shadow: 5px 3px 0px 0px rgba(0, 0, 0, 0.2);
    }
}

.employee {
    position: absolute;
    transform: rotate(2deg);
    top: 45%;
    right: 4%;
    z-index: 0;

    &__outer {
        background-color: white;
        border: $lineOne;
        border-radius: 1px;
        width: 60px;
        height: 88px;
    }

    &__inner {
        background-color: $whiteish;
        border: $lineOne;
        border-radius: 1px;
        margin: 2px;
        width: 54px;
        height: 58px;
        position: relative;
    }

    &__line {
        background-color: $blackish;
        border-left: solid 1px $blackish;
        border-radius: 1px;
        width: 0;


        &--one {
            position: absolute;
            height: 8px;
            top: 5px;
            left: 20%;
        }

        &--two {
            position: absolute;
            height: 8px;
            bottom: 60%;
            right: 20%;
        }

        &--three {
            position: absolute;
            height: 14px;
            bottom: 10%;
            left: 40%;
        }
    }

    &__text {
        font-size: 8px;
        font-weight: 700;
        color: $blackish;
        margin-top: 4px;
    }
}

/* Sales Section */


.screw {
    background-color: $greyish;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    border: $lineTwo;
    position: absolute;
    box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.2);

    &--one {
        top: 6px;
        left: 6px;
    }

    &--two {
        top: 6px;
        right: 6px;
    }

    &--three {
        bottom: 6px;
        left: 6px;
    }

    &--four {
        bottom: 6px;
        right: 6px;
    }

    &__line {
        background-color: $blackish;
        border: $lineOne;
        position: absolute;
        width: 6px;
        top: 2px;

        &--one {
            transform: rotate(10deg);
        }

        &--two {
            transform: rotate(-4deg);
        }

        &--three {
            transform: rotate(-54deg);
        }

        &--four {
            transform: rotate(84deg);
        }
    }
}


.plate {
    background-color: $yellowish;
    border: $lineOne;
    position: absolute;
    box-shadow: -1px 1px 0px 1px rgba(0, 0, 0, 0.2);
    padding: 3px;
    z-index: 0;

    &--one {
        width: 28vw;
        height: 38vh;
        top: 3%;
        left: 4.8%;
    }

    &--two {
        width: 16vw;
        height: 6vh;
        top: 34%;
        right: 5%;
    }

    &--three {
        width: 30vw;
        height: 17vh;
        top: 80%;
        left: 20%;
    }

    &__dot {
        border-radius: 2px;
        width: 0;
        height: 0;
        border: $lineTwo;
        position: absolute;

        &--one {
            top: 3px;
            left: 3px;
        }

        &--two {
            top: 3px;
            right: 3px;
        }

        &--three {
            bottom: 3px;
            left: 3px;
        }

        &--four {
            bottom: 3px;
            right: 3px;
        }
    }
}

/* Sales Plate */

.sales {
    position: relative;
    background-color: $whiteish;
    width: 100%;
    height: 100%;
    border: $lineTwo;
    z-index: 1;
    margin: 0 auto;
    box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.2);

    &__one {
        grid-area: sales__one;
    }

    &__two {
        grid-area: sales__two;
    }
}

img {
    width: 100%;
    position: absolute;
    top: calc(6px + 7vh);
}

.hanger {
    position: absolute;
    background-color: transparent;
    top: 10.5%;
    left: calc(50% - 8vw);
    width: 15.8vw;
    height: 15.8vw;
    border: solid 4px $redish;
    transform: rotate(45deg);
    box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.2);

    &__dot {
        position: absolute;
        top: calc(6px + 5vh);
        left: calc(50% - 12px);
        width: 20px;
        height: 20px;
        border: $lineOne;
        border-radius: 100%;
        background-color: $yellowish;
        box-shadow: -3px 3px 0px 0px rgba(0, 0, 0, 0.2);
    }
}

.buy__sign {
    border: $lineTwo;
    background-color: white;
    padding: 0 1%;
    position: absolute;
    top: 8px;
    left: -4px;
    transform: rotate(-20deg);
}

.monitor {
    position: relative;
    z-index: 1;
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    margin-bottom: 18%;


    &__outer {
        background-color: $greyish;
        width: 100%;
        height: 100%;
        border: $lineTwo;
        border-radius: 26px;
        padding: 5px;
        position: absolute;
        margin: 0;
        box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.2);
    }

    &--shine {
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }

    &__inner {
        background-color: white;
        width: 100%;
        height: 100%;
        border: $lineTwo;
        border-radius: 20px;
        padding: 5vh 0.5vw 6vh 1vw;
    }

    &__plate {
        background-color: $darkish;
        width: 100px;
        height: 10px;
        border: $lineTwo;
        border-radius: 4px;
        position: absolute;
        top: -7px;
        right: 0;
        left: 0;
        margin: auto;

        &--shine {
            border-top: 1px solid rgba(255, 0, 73, 0.25);
            height: 100%;
            width: 70%;
            margin: 0 auto;
        }
    }

    &__wire--outer {
        position: absolute;
        background-color: $redish;
        border: $lineOne;
        border-radius: 100%;
        padding: 3px;
        width: 50px;
        height: 50px;
        top: -6px;
        right: 50%;
        left: calc(50% - 76px);
        z-index: -1;
    }

    &__wire--inner {
        background-color: $yellowish;
        border: $lineOne;
        border-radius: 100%;
        width: 100%;
        height: 100%;
    }

    &--font--small {
        font-size: calc(8px + 0.5vw);
        line-height: 0;
    }
}


.trapezoid {
    &__outer {
        position: absolute;
        top: -16px;
        right: 50vw;
        left: calc(50vw + 55px);
        width: 22px;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 18px solid $blackish;
    }

    &__inner {
        padding: 2px;
        position: absolute;
        top: -2px;
        left: 0;
        width: 16px;
        height: 100%;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 14px solid $redish;
    }
}






/* Buttons */

.price {
    border: $lineTwo;
    position: absolute;
    bottom: calc(21% + 4px);
    left: 29%;
    width: calc(34px + 2.8vw);
    height: calc(12px + 3vh);
    padding-top: 3.5%;


    &--redish {
        background-color: $redish;
        transform: skew(-1deg, -1deg) rotate(-1deg);
        border-radius: 2px;
    }

    &--redish:hover {
        bottom: calc(20.8% + 4px);
    }

    &--redish:active {
        bottom: calc(19.9% + 4px);
    }

    &--dRedish {
        background-color: $dRedish;
        bottom: calc(19.5% + 4px);
        left: 29%;
        height: 20px;
        width: calc(34px + 2.8vw);
        transform: skew(0, 1deg)
    }
}

.size {
    border: $lineTwo;
    position: absolute;
    bottom: calc(21% + 4px);
    right: 29%;
    width: calc(34px + 2.8vw);
    height: calc(12px + 3vh);
    padding-top: 3.5%;


    &--white {
        background-color: white;
        transform: skew(1deg, 1deg) rotate(1deg);
        border-radius: 2px;
    }

    &--white:hover {
        bottom: calc(20.8% + 4px);
    }

    &--white:active {
        bottom: calc(19.9% + 4px);
    }

    &--greyish {
        background-color: $greyish;
        bottom: calc(19.5% + 4px);
        right: 29%;
        height: 20px;
        width: calc(34px + 2.8vw);
        transform: skew(0, 1deg)
    }

    &--font {
        text-decoration: underline;
        color: $blackish;
    }
}

.buy {
    border: $lineTwo;
    position: absolute;
    bottom: 10%;
    left: 10%;
    right: 10%;
    width: 80%;
    height: calc(14px + 3vh);
    padding-top: 1%;

    &--green {
        background-color: $greenish;
        transform: skew(1deg, -1deg);
        border-radius: 2px;
    }

    &--green:hover {
        bottom: 9.8%;
    }

    &--green:active {
        bottom: 8.8%;
    }

    &--dGreen {
        background-color: $dGreenish;
        bottom: 8.2%;
        height: 20px;
        width: 80%;
        transform: skew(-0.3deg, 0)
    }

    &--story {
        top: 10%;
        bottom: auto;
        background-color: $redish;
        transform: skew(0, -0.5deg);
        height: calc(16px + 4vh);

        &--bottom {
            top: calc(10% + 10px);
            bottom: auto;
            background-color: $dRedish;
            transform: skew(0deg, 1deg);
            height: calc(16px + 4vh);
        }
    }

    

    &--shop {
        top: 32%;
        bottom: auto;
        transform: skew(0, 0.5deg);
        height: calc(16px + 4vh);

        &--bottom {
            top: calc(32% + 10px);
            bottom: auto;
            background-color: $dGreenish;
            transform: skew(0deg, -1deg);
            height: calc(16px + 4vh);
        }
    }

    &--shop:hover {
        top: 32.2%;
    }

    &--shop:active {
        top: 34.4%;
    }

    &--useless {
        top: 54%;
        left: 20%;
        right: 20%;
        bottom: auto;
        background-color: white;
        height: calc(16px + 4vh);
        width: 60%;
        padding: auto;

        &--bottom {
            top: calc(54% + 10px);
            left: 20%;
            right: 20%;
            bottom: auto;
            background-color: $greyish;
            height: calc(16px + 4vh);
            width: 60%;
            padding: auto; 
        }

        &--font {
            font-size: calc(10px + 0.5vw);
            color: $blackish;
            padding-top: calc(4px + 0.5vh)
        }
    }

    &--useless:hover {
        top: 54.2%;
    }

    &--useless:active {
        top: 56.2%;
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: $redish;
}

/* Track */
::-webkit-scrollbar-track {
    background: $redish;
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $dRedish;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $blackish;
}


.gate {
    background-color: $greyish;
    border: $lineTwo;
    height: 100vh;
    width: 100vw;
    z-index: 98;
    position: absolute;

    animation: move 1.2s infinite 2s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    top: 0;

    &__black {
        width: 100%;
        height: 9%;
        background-color: transparent;
        border: $lineTwo;
        z-index: 92;
        position: absolute;

        &--one {
            top: 10%;
        }

        &--two {
            top: 20%;
        }

        &--three {
            top: 30%;
        }

        &--four {
            top: 40%;
        }

        &--five {
            top: 50%;
        }

        &--six {
            top: 60%;
        }

        &--seven {
            top: 70%;
        }

        &--eight {
            top: 80%;
        }

        &--nine {
            top: 90%;
        }
    }

    &__white {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.45);
    }

    &--frank {
        margin: 25vh 20vw;
        position: absolute;
        z-index: 91;
    }
}

@keyframes move {
    1% {
        transform: translateY(-0%);
    }

    100% {
        transform: translateY(-100%);
    }
}

/* Menu */


.bar {
    display: block;
    background-color: $redish;
    width: 34px;
    height: 5px;
    border-radius: 5px;
    margin: 8px auto;
    transition: background-color 0.4s ease-in, transform 0.4s ease-in,
        width 0.4s ease-in;
}

.menu {
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 90;
}

.menuBlack {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle, rgba(39, 39, 39, 0.798739564185049) 10%, rgba(39, 39, 39, 0.9500000683867297) 70%);
    z-index: 80;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    pointer-events: none;
}

.middle {
    margin: 0 auto;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked~.menu {
    transform: translateY(0%);
}

input[type="checkbox"]:checked~.menuBlack {
    opacity: 1;
}

input[type="checkbox"]:checked~label .bar {
    background-color: $redish;
}

input[type="checkbox"]:checked~label .top {
    -webkit-transform: translateY(0px) rotateZ(45deg);
    -moz-transform: translateY(0px) rotateZ(45deg);
    -ms-transform: translateY(0px) rotateZ(45deg);
    -o-transform: translateY(0px) rotateZ(45deg);
    transform: translateY(12px) rotateZ(45deg);
}

input[type="checkbox"]:checked~label .bottom {
    -webkit-transform: translateY(-15px) rotateZ(-45deg);
    -moz-transform: translateY(-15px) rotateZ(-45deg);
    -ms-transform: translateY(-15px) rotateZ(-45deg);
    -o-transform: translateY(-15px) rotateZ(-45deg);
    transform: translateY(-14px) rotateZ(-45deg);
}

input[type="checkbox"]:checked~label .middle {
    width: 0;
}

label {
    bottom: 8px;
    right: 16px;
    display: inline-block;
    padding: 7px 10px;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    z-index: 100;
    position: fixed;
    transform: rotate(-1deg);
}





.menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4vh minmax(100px, 22vh) 6vh 50vh 16vh;
    grid-template-areas: "pole""speakerbox""poleTwo""platform""navigation";
    position: fixed;
    width: 100vw;


    &__pole {
        grid-area: pole;
    }

    &__speakerbox {
        grid-area: speakerbox;
        border: $lineTwo;
        background-color: $greyish;
        width: 45%;
        margin: 0 auto;
        z-index: 89;
        position: relative;
        padding: calc(4px + 1vh) calc(10px + 3vw);


        &__pole {
            border: $lineTwo;
            background-color: $whiteish;
            width: 50px;
            height: calc(4vh + 1px);
            position: absolute;
            top: calc(-4vh - 1px);
            z-index: 88;
            left: calc(50% - 25px);
        }

        &__outer {
            border: $lineOne;
            background-color: $redish;
            border-radius: 20px;
            height: 100%;
            padding: 4px;
        }

        &--inner {
            border: $lineOne;
            background-color: $whiteish;
            border-radius: 16px;
            height: 100%;
            width: 100%;
            background: linear-gradient(90deg, $blackish, transparent 1%) center, $whiteish;
            background-size: 17px 17px;
            background-image: radial-gradient($blackish 18%, transparent 20%);
        }

    }

    &__poleTwo {
        grid-area: poleTwo;
    }

    &__platform {
        grid-area: platform;
        border: $lineTwo;
        background-color: $greyish;
        width: 90%;
        margin: 0 auto;
        z-index: 89;
        position: relative;

        &__pole {
            border: $lineTwo;
            background-color: $whiteish;
            width: 50px;
            height: calc(32vh + 3px);
            position: absolute;
            top: calc(-32vh - 3px);
            left: 8px;
            z-index: 88;
        }
    }

    &__navigation {
        grid-area: navigation;
        z-index: 89;

    }

&__bottomPlate {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: -4px;
    background-color: $whiteish;
    border: $lineTwo;
    width: 80%;
    height: 20%;
}

}





h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 18vw;
    font-weight: 700;
    color: $redish;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $blackish;
    text-align: left;
    line-height: 0.4;
    text-align: center;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: calc(14px + 1vw);
    font-weight: 700;
    color: $redish;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $blackish;
    text-align: left;
    line-height: 0.4;
    text-align: center;
    line-height: 1.2;
    margin: 3% 0;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: calc(10px + 1.2vh);
    font-weight: 700;
    color: white;
    line-height: 0;
    text-align: center;
    margin-top: 5%;
}

h6 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 5.1vw;
    color: $redish;
    line-height: 1.5;
    margin: 1vh 3vw 5vh 5vw;
}

@media only screen and (min-width: 860px) {

    h1 {
        font-size: calc(2em + 4.8vw);
        line-height: 0;
        margin-top: 8vh;
        margin-left: -15px;
    }

    p {
        font-size: calc(10px + 1.1vw);
        margin: 0 0 8vh 0;
        margin: 0vh 1vw 3vh 1vw;
    }

    .section {

        &__one {
            grid-template-columns: auto minmax(48%, 630px) 4vw minmax(34%, 410px) auto;
            grid-template-rows: 10.5vh 2.5vh 53vh 20vh 14vh;
            grid-template-areas:
                ". . . . ."
                ". . . paper ."
                ". window . paper ."
                ". tools . paper ."
                ". tools . . .";
            margin: 0 2vw;
        }

        &__two {
            grid-template-columns: minmax(10px, 6vw) minmax(26%, 330px) minmax(4px, 5vw) minmax(26%, 380px) minmax(4px, 5vw) minmax(26%, 330px) minmax(10px, 6vw);
            grid-template-rows: 10vh 1fr 15vh;
            grid-template-areas:
                ". . . . . . ."
                ". sales__one . monitor . sales__two ."
                ". . . . . . .";
            margin: 0;
            height: 100vh;
            position: relative;
        }
    }


    .window {
        grid-area: window;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    .paper {
        position: relative;
        grid-area: paper;
        grid-row: 2 / 5;
        grid-column: 4 / 5;
    }

    .tools {
        grid-area: tools;
    }

    .poisen {
        top: -224px;
        left: 68.9%;
        right: 31.1%;
        z-index: 0;
    }

    .sales {
        margin: 0 auto;

        &__one {
            grid-area: sales__one;
        }

        &__two {
            grid-area: sales__two;
        }
    }

    h2 {
        font-family: 'Raleway', sans-serif;
        font-size: calc(6px + 1.3vw);
    }

    h4 {
        font-family: 'Raleway', sans-serif;
        font-size: calc(10px + 1.5vh);
    }

    .buy__sign {
        top: 2%;
        left: -3%;
    }

    .hanger {
        top: 10.5%;
        left: calc(50% - 3.05vw);
        width: 5.8vw;
        height: 5.8vw;

        &__dot {
            top: 7.5%;
        }
    }

    img {
        top: calc(14px + 7vh);
    }

    .price {
        width: calc(14px + 2.8vw);
        height: calc(10px + 3vh);
        bottom: calc(19% + 4px);
        left: 30%;
        padding-top: 3%;

        &--redish:hover {
            bottom: calc(18.8% + 4px);
        }

        &--redish:active {
            bottom: calc(17.9% + 4px);
        }

        &--dRedish {
            width: calc(14px + 2.8vw);
            height: calc(10px + 3vh);
            bottom: calc(17.5% + 4px);
            left: 30%;
        }
    }

    .size {
        width: calc(14px + 2.8vw);
        height: calc(10px + 3vh);
        bottom: calc(19% + 4px);
        right: 30%;
        padding-top: 3%;

        &--white:hover {
            bottom: calc(18.8% + 4px);
        }

        &--white:active {
            bottom: calc(17.9% + 4px);
        }

        &--greyish {
            width: calc(14px + 2.8vw);
            height: calc(10px + 3vh);
            bottom: calc(17.5% + 4px);
            right: 30%;
        }
    }

    .buy {
        height: calc(12px + 3vh);
        padding-top: 0;

        &--dGreen {
            bottom: 8.3%;
            transform: skew(1deg, 0)
        }

        &--story {
            top: 8%;
            height: calc(20px + 4vh);

            &--bottom {
                top: calc(13% + 10px);
            }
        }

        &--story:hover {
            top: 8.2%;
        }
    
        &--story:active {
            top: 10.4%;
        }

        &--shop {
            top: 30%;
            height: calc(20px + 4vh);
    
            &--bottom {
                top: calc(35% + 10px);
            }
        }
    
        &--shop:hover {
            top: 30.2%;
        }
    
        &--shop:active {
            top: 32.4%;
        }

    }


    .monitor {
        grid-area: monitor;
        margin: 10% 0 34% 0;

        &__outer {
            margin: 0 0;
        }

        &__inner {
            padding: 3vw 0.5vw 6vh 1vw;
        }

        &__wire--outer {
            right: 50%;
            left: calc(50% - 78px);
        }

        &__plate {
            right: calc(50% - 50px);
            left: calc(50% - 50px);
        }

        &--font--small {
            font-size: calc(4px + 0.5vw);
            line-height: 0;
        }

    }

    .trapezoid {
        &__outer {
            right: 50%;
            left: calc(50% + 55px);
        }
    }

    .wire__straight {
        height: 8%;

        &--left {
            bottom: calc(11.6% + 4px);

        }

        &--right {
            bottom: calc(11.5% + 4px);
        }
    }

    .panel {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .lineSkew {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .magnet {
        margin-top: 2.2em;
        margin-left: 28%;
        width: 70%;
    }

    .knife {
        transform: rotate(22deg);
        margin-top: 2.3em;
    }

    .spray {
        top: 3%;
        left: 70%;
        right: 30%;
    }

    .drops {
        margin-top: 268px;
        margin-left: auto;
        margin-right: auto;
    }

    .pizzacutter {
        transform: rotate(82deg);
        left: 50%;
    }

    .spatula {
        transform: rotate(95deg);
        left: 28%;
    }

    .employee {
        transform: rotate(-2deg);
        top: -8%;
        left: 10%;

        &__outer {
            border: $lineTwo;
            width: 115px;
            height: 165px;
        }

        &__inner {
            border: $lineTwo;
            width: 107px;
            height: 105px;
        }

        &__line {
            border: $lineOne;
        }

        &__text {
            font-size: 14px;
            margin-top: 10px;
        }
    }


    /* Menu */


    .menu {
        display: grid;
        grid-template-columns: auto minmax(600px, 34%) auto;
        grid-template-rows: 4vh minmax(200px, 22vh) 6vh 50vh 16vh;
        grid-template-areas:
            "menuLeft pole menuRight"
            "menuLeft speakerbox menuRight"
            "menuLeft poleTwo menuRight"
            "menuLeft platform menuRight"
            "menuLeft navigation menuRight";


        &__pole {
            grid-area: pole;

            &--Two {
                grid-area: poleTwo;
            }
        }

        &__speakerbox {
            grid-area: speakerbox;
            padding: calc(4px + 2vh) calc(10px + 2.5vw);
        }


        &__platform {
            grid-area: platform;
        }

        &__navigation {
            grid-area: navigation;
        }

        &__right {
            grid-area: menuRight;
        }

        &__left {
            grid-area: menuLeft;
        }
    }

    .button {
        &--social {

            &--menu--top {
                top: 10px;
                right: -80px;

            }

            &--menu--bottom {
                right: -80px;
                bottom: 10px;
            }
        }
    }

    .button__tube {
        &--top {
            top: 29px;
            right: -15px;
            height: 26px;
            }
    
        &--bottom {
            bottom: 29px;
            right: -15px;
            height: 26px;
        }
    }
}