/* Colors */

$blackish: #272727;
$darkish: #525252;
$greyish: #919091;
$whiteish: #F1F1F1;

$redish: #FF0049;
$dRedish: #990033;

$pinkish: #FF3ED8;
$purpleish: #A30083;

$blueish: #386A8E;
$lBlueish: #98ACBB;

$greenish: #3AB865;
$dGreenish: #266A3E;

$yellowish: #F4E138;
$syellish: rgba(244, 225, 56, 0.25);

/* Line Thickness */

$lineOne: 1px solid $blackish;
$lineTwo: 2px solid $blackish;
